:root {
  --bg: rgb(18, 11, 36);
  --bg-dark: rgb(10, 6, 20);
  --txt: #fff;
  --blue: rgb(123, 210, 213);
  --dark-blue: #1e5688;
  --txt-pink: rgb(173, 2, 167);
  --gold: rgb(239, 203, 44);
}
.globals {
  margin: 3rem 0 7rem;
}
.globals h2 {
  text-align: center;
  color: var(--gold);
  margin-bottom: 3rem;
  font-size: 42px;
}
#btc {
  color: var(--gold)
}
.globals-box {
  width: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 18px;
}
.globals-box font {
  color: var(--txt-pink)
}
.globals-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
